@font-face {
	font-family: 'FranklinGot';
	src: url(../fonts/framd.eot');
	src: local('☺'), url('../fonts/framd.woff') format('woff'), url('../fonts/framd.ttf') format('truetype'), url('../fonts/framd.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
    font-family: FranklinGot, arial, sans-serif !important; 
}

nav {
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
    z-index: 4;
}

.logo {
    color: #fff;
    float: left;
    font-size: 18px;
    line-height: 60px;
    -webkit-animation: comming 4s ease;
    -o-animation: comming 4s ease;
    animation: comming 4s ease;
}
.white-btn:visited{
    color: white;
}

main {
    width: 100%;
    height: 100%;
}

.menu {
    float: left;
}

.menu li {
    float: left;
    line-height: 60px;
    color: #fff;
    margin-left: 40px;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}

.main {
    width: 100%;
    height: 100%;
    background: url(../img/boy.png) 90% 100%/auto 90% no-repeat, url(../img/bg.jpg) center/cover no-repeat;
}

.title__container {
    float: left;
    color: #2c384a;
    text-align: center;
        width: 100%;

    opacity: 0;
    -webkit-animation: titlemove 1s ease forwards;
    -o-animation: titlemove 1s ease forwards;
    animation: titlemove 1s ease forwards;
    -webkit-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
}

.title__container h1 {
    font-size: 56px;
    font-weight: 600;
}

.title__container h4 {
    margin-top: 40px;
    font-size: 16px;
    color: #79818d;
}

.title__container input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 14px;
    padding: 0 16px;
    margin: 58px 14px 0px 14px;
}

.menu li a {
    transition: all 0.1s;
    color: white;
    transform: scale(1);
    display: inline-block;
    text-decoration: none;
}

.menu li a:visited {
    color: white;
}

.menu li a:hover {
    color: #e88604;
}

.menu li a:active {
    transform: scale(1.1);
}

.title__container input {
    transition: all 0.2s;
    transform: scale(1)
}

.title__container input:hover {     
    background: #344051;
    color: white;
}

.title__container input:active {
    transform: scale(1.1)
}

@keyframes comming {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes topshift {
    from {
        opacity: 0;
        margin-top: -80px;
    }

    to {
        opacity: 1;
        margin-top: 0px;
    }
}

.menu li:nth-child(2) {
    animation-delay: 0.4s;
}

.menu li:nth-child(3) {
    animation-delay: 0.8s;
}

.menu li:nth-child(4) {
    animation-delay: 1.2s;
}

.menu li:nth-child(5) {
    animation-delay: 1.6s;
}

.menu li:nth-child(6) {
    animation-delay: 2s;
}

@keyframes titlemove {
    from {
        opacity: 0;
        margin-left: -500px;
    }

    to {
        opacity: 1;
        margin-left: 0px;
    }
}
@media(max-width:991px){
    .title__container,.title__container h4, .title__container input{
        color: white;
        position: relative;
        z-index: 3;
    }
    .main{
        position: relative;
    }
    .main:after{
        content: "";
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
        position: absolute;
        background: rgba(0,0,0,0.4)
    }
.title__container input{
border: 2px solid #fff;
}
}
.aboutme {
    text-align: center;
    color: #263244;
    margin: auto;
}

.aboutme h2 {
    margin: 110px 0px 30px 0px;
    font-size: 25px;
    font-weight: bold;
}

.author {
    width: 202px;
    border-radius: 50% 50%;
    margin: 60px 0 0 0;
}

.my {
    text-align: justify;
    padding: 20px 0 25px 0;
    font-size: 14px;
    color: #3f495a;
}

.resume button {
    border: 2px solid #6f707e;
    border-radius: 5px;
    width: 153px;
    height: 33px;
    background: none;
    color: #6f707e;
    font-size: 13 px;
    margin-bottom: 100px;
    transition: all 0.2s;
    transform: scale(1);
}

.resume button:hover {
    background: #344051;
    color: white;
}

.resume button:active {
    transform: scale(1.1)
}
.doit {
    width: 100%;
    background: url(../img/ido.jpg) center/cover no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: #263244;
}
.ido h2 {
    margin: 100px 0px 32px 0px;
    font-size: 25px;
    font-weight: 600;
}
.can {
    font-size: 12.5px;
    padding-bottom: 95px;
    transition: all 0.2s;
    transform: scale(1),rotate(0deg);
}
.can h4{
    height: 83px;
    font-size: 14px;
    padding-top: 40px;
    padding-bottom: 20px;
    color: #cf7600;
}
.can p:hover{
    transform: scale(1.2);
}
.can h4:hover{
    transform: scale(1.2);
}
.can img {
    height: 47px;
    margin-top: 110px;
    transition: all 0.2s;
    transform: rotate(0deg);
}
.can img:hover{
    transform: rotate(360deg);
}

.keys {
    text-align: center;
    color: #384354;
}
.img-fluid{
    transition: all 0.2s;
    margin-bottom: 40px;
}
.keys .img-fluid:hover{
    box-shadow: 10px 10px 40px 5px #53ea93;
}

.look h2 {
    padding-top: 110px;
    margin-bottom: 32px;
    font-size: 25px;
    font-weight: bold;
}

.look p {
    font-size: 12.5px;
    margin: 20px 0;
}

.keys h3 {
    font-size: 19px;
    font-weight: bold;
}

.block {
    text-align: left;
}
.client p {
    font-size: 12.5px;
    margin: 20px 0;
}

.name p {
    font-size: 15.6px;
    margin-top: 14px;
}

.client button {
    border: 2px solid color#63b5ae;
    background: #63b5ae;
    border-radius: 5px;
    width: 202px;
    height: 42px;
    font-size: 16px;
    color: white;
    transition: all 0.2s;
    transform: scale(1)
}

.client button:hover {
    background: #6367b5;
    color: white;
}

.client button:active {
    transform: scale(1.1)
}

.cash {
    margin-top: 160px;
    }

.typ h1 {
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    color: #1c2534;
}

.cash h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 10px;
}

.typ {
    margin-bottom: 30px;
    width: 884px;
    margin-top: 60px;
    text-align: left;
}

.typ select {
    margin-bottom: 40px;
    border: 2px solid #eeeeee;
    background: #eeeeee;
    width: 100%;
    height: 60px;
    font-size: 16px;
    color: #737373;
}

.typ table {
    border-spacing: 0 20px;
    font-size: 15.6px;
}

.typ th {
    font-size:22px;
    text-align: right;
}
.cash button {
    border: 2px solid color#63b5ae;
    background: #63b5ae;
    border-radius: 5px;
    width: 202px;
    height: 42px;
    font-size: 16px;
    color: white;
    margin-top: 40px;
}

.cash button {
    transition: all 0.2s;
    transform: scale(1)
}

.cash button:hover {
    background: #6367b5;
    color: white;
}

.cash button:active {
    transform: scale(1.1)
}

.static {
    padding-top: 100px;
    text-align: center;
    color: #323e4f;
    background: url(../img/%D1%84%D0%BE%D0%BD%20%D1%81%D1%82%D0%B0%D1%82%D0%B0.jpg) center/cover no-repeat;
    background-attachment: fixed;
}

.static .container > h2 {
    padding-bottom:33px;
    font-size: 25px;
    font-weight: bold;
}
.xz img {
    transition: all 0.2s;
    transform: rotate(0deg);
    height: 52px;
    margin-top: 90px;
}
.xz img:hover{
    transform: rotate(360deg);
}

.xz {
    transform: scale(1);
}

.xz h2:hover{
    transform: scale(1.2);
}
.xz h4:hover{
    transform: scale(1.2);
}

.xz h2 {
    font-size: 25px;
    font-weight: bold;
    margin: 35px 0;
}

.xz h4 {
    font-size: 15.6px;
    font-weight: bold;
    margin-bottom: 100px;
    text-transform: uppercase;
}
.reviews {
    text-align: center;
    color: #243042;
    padding-top: 105px;
    padding-bottom: 70px;
}

.reviews img {
    padding: 34px 0 36px 0;
}

.reviews p {
    font-size: 12.5px;
    padding: 0px 0 40px 0;
}

.reviews h2 {
    font-size: 25px;
    font-weight: bold;
}

.reviews span {
    font-weight: bold
}
.lukoil{
    padding-bottom: 20px;
    transition:all 0.2s;
}
.lukoil:hover{
    box-shadow: 5px 5px 10px 10px #53ea93;
}
.contacts {
    text-align: center;
    color: #fff;
    padding-top: 105px;
    padding-bottom: 67px;
    background: url(../img/%D0%A4%D0%BE%D0%BD.jpg) center/cover no-repeat;
    background-attachment: fixed;
}
.contacts h2 {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 30px;
}

.svyaz {
    padding: 35px 0 50px 0;
    font-size: 12.5px;
    
}
.geo img{
    height: 26px;
}

.geo p {
    padding: 20px 0 50px 0;
    font-size: 12.5px;
}

.data input {
    padding-left: 5px;
}

.data h4 {
    font-size: 15.6px;
    font-weight: bold;
    padding-bottom: 45px;
}

.eba {
    font-size: 12.5px;
    width: 100%;
    height: 35px;
    background: #d6dae0;
}

.data textarea {
    height: 95px;
    font-size: 12.5px;
    margin: 15px 0 30px 0;
    background: #d6dae0;
    padding: 5px 0 0 5px;
}

.send {
    margin: auto;
    color: white;
    width: 125px;
    height: 45px;
    text-align: center;
    border: 2px solid white;
    background: none;
    border-radius: 5px;
    font-size: 15.6px;
}

.send {
    transition: all 0.2s;
    transform: scale(1)
}

.send:hover {
    background: #db8756;
    color: white;
}

.send:active {
    transform: scale(1.1)
}

.dostup form{
    margin-top: 65px;
}

.dostup button {
    background: none;
}

.dostup img {
    transition: all 0.2s;
    transform: scale(1), rotate(0deg);
}

 .dostup img:hover {
    transform: rotate(360deg); /* Поворачиваем на 360 градусов */
   }

.dostup img:active {
    transform: scale(1.2);
}

.podval p {
    font-size: 10px;
    height: 95px;
    background: #354051;
    text-align: center;
    color: white;
    padding: 40px;
}
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #e0e0e0;
  z-index: 1000;
}
.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-top: -60px;
  margin-left: -60px;
  text-align: center;
  animation: preloader-rotate 3.5s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  left:38px;
  background-color: #337ab7;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  }
.preloader__item:nth-child(1) {
left: 38px;
    animation: preloader-translate1 1.6s  infinite linear;
}
.preloader__item:nth-child(2) {
left: auto;
    top:38px;
    right: 0;
    animation: preloader-translate2 1.6s 0.4s infinite linear;
}
.preloader__item:nth-child(3) {
  left: auto;
    bottom: 0;
    right: 38px;
    animation: preloader-translate3 1.6s 0.8s infinite linear;
}
.preloader__item:nth-child(4) {
  bottom: 38px;
    left: 0;
    animation: preloader-translate4 1.6s 1.2s infinite linear;
}
.preloader__item:nth-child(5) {
    top: 12px;
    left: 12px;
    animation: preloader-translate5 1.6s 1.4s infinite linear;
}
.preloader__item:nth-child(6) {
    left: auto;
    top: 12px;
    right: 12px;
    animation: preloader-translate6 1.6s 0.2s infinite linear;
}
.preloader__item:nth-child(7) {
    bottom: 12px;
    right: 12px;
    left: auto;
    animation: preloader-translate7 1.6s 0.6s infinite linear;
}
.preloader__item:nth-child(8){
  bottom:12px;
    left: 12px;
    animation: preloader-translate8 1.6s 1s infinite linear;
}    
.preloader__item:nth-child(9) {
left: 38px;
}
.preloader__item:nth-child(10) {
left: auto;
    top:38px;
    right: 0;
}
.preloader__item:nth-child(11) {
  left: auto;
    bottom: 0;
    right: 38px;
}
.preloader__item:nth-child(12) {
  bottom: 38px;
    left: 0;
}
.preloader__item:nth-child(13) {
    top: 12px;
    left: 12px;
}
.preloader__item:nth-child(14) {
    left: auto;
    top: 12px;
    right: 12px;
}
.preloader__item:nth-child(15) {
    bottom: 12px;
    right: 12px;
    left: auto;
}
.preloader__item:last-child {
  bottom:12px;
    left: 12px;
}
@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes preloader-translate1 {
  100%{
    transform: translate(0,-1000px);
  }
}
@keyframes preloader-translate2 {
  100%{
    transform: translate(1000px,0);
  }
}
@keyframes preloader-translate3 {
  100%{
    transform: translate(0px,1000px)
  }
}
@keyframes preloader-translate4 {
  100%{
    transform: translate(-1000px,0px)
  }
}
@keyframes preloader-translate5 {
100%{
    transform: translate(-1000px,-1000px)
  }
}
@keyframes preloader-translate6 {
  100%{
    transform: translate(1000px,-1000px)
  }
}
@keyframes preloader-translate7 {
  100%{
    transform: translate(1000px,1000px)
  }
}
@keyframes preloader-translate8 {
100%{
    transform: translate(-1000px,1000px)
  }
    
}
.loaded .preloader {
  display: none;
}